@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

//Additional CSS variables
$header-bg-color: #000d24 !default;
$header-bg-color-2: #07142b !default;
$header-bg-color-3: #011c4a !default;
$header-bg-color-4-button: #010d21 ;

$grey-light-color: #e1e6f0 !default;
$grey-color: #1e1f21;
$grey-color-nav: #9599a1;
$grey-color-nav-hover: #e3ebfa;
$grey-blue-border: #dfe9f7;
$grey-light-buttom: #a8cdf7;

$light-bleu: #2d8fb3;

//Button
$button-hover: #104785;

// Width of the content area
//$content-width:    800px !default;
$content-width: 1400px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$code: #E9F8FF;
$code-background: #1E2123; 

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting",
  "minima/additional-css"
;
