/**
 * Custom CSS
 */
.image-cropper {
	max-width: 100px;
	height: auto;
	position: relative;
	overflow: hidden;
	float:left
}

.image-cropper img {
	display: block;
	margin: 0 auto;
	height: auto;
	width: 150%;
	margin: 0 0 0 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.site-job {
	@include relative-font-size(1.2);
	font-weight: 600;
	line-height: $base-line-height * $base-font-size * 2.25;
	letter-spacing: -1px;
	margin-bottom: 0;
	margin: 1 auto;
	line-height: 0.8;
	display: block;
	padding-left: 120px;
	color: $grey-color-nav;
	//float: left;
}

.align-left{
		float:left;
}

.post-listed {
	//display: inline-block;
	//margin-bottom: 1rem;
	//color: rgba(255, 255, 255, 0.7);
	//background-color: rgba(255, 255, 255, 0.08);
	margin-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-color: $grey-blue-border;
	border-style: solid;
	border-width: 1px;
	//border-radius: 0.9rem;
	border-radius: 8px 8px 8px 8px;
	//transition: color 0.2s, background-color 0.2s, border-color 0.2s;
	//background-color: blue;
}

.post-title-date {
	padding-left: 20px;
	padding-bottom: 10px;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: -10px;
	border-color: $grey-blue-border;
	background-color: grey;
	border-radius: 8px 8px 0px 0px;
	border-style: solid;
	border-width: 1px;
	background-color: $header-bg-color-2;
	//background-image: linear-gradient(170deg, $header-bg-color, $header-bg-color-2, $header-bg-color-3);
}

.post-excerpts {

}