---
layout: default
---

    <div class="home">
        {%- if page.title -%}
        <h1 class="page-heading">{{ page.title }}</h1>
        {%- endif -%}

        {{ content }}

        {%- if site.posts.size > 0 -%}

    <header class="post-header-about">
        <h1 class="post-list-heading2">{{ page.list_title | default: "POSTS" }}</h1>
        <h1 class="post-list-heading3"> | TIMELINE</h1>
    </header>
        


        <p class="rss-subscribe"> <a href="{{ "/feed.xml" | relative_url }}">Subscribe via RSS</a></p>
        <ul class="post-list">
            {%- for post in site.posts -%}
            <div class="post-listed">
                <li class="post-content-home">
                    <dir class="post-title-date">
                      
                        <a class="link" href="{{ post.url | relative_url }}">

                            <div class="post-title-link">{{ post.title | escape }} </div>
                            <div class="post-subtitle-link">{{ post.subtitle | escape }} </div>

                            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                            <span class="post-meta">{{ post.date | date: date_format }}</span>

                        </a>
                    </dir>

                    {%- if site.show_excerpts -%}
                    <div class="post-excerpts">
                        {{ post.excerpt }}
                    </div>
                        {%- endif -%}
                    
                </li>
            </div>
            {%- endfor -%}

        </ul>


        {%- endif -%}

    </div>
